body {
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

button , a { outline: none; }

.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

/*____________ NavBar */
.navbar-brand { 
    font-weight: 
    bold; color: #797979; 
    font-family: 'Righteous', cursive; 
}

#site-name { 
    color: tomato;  
}

.navbar i {
    font-size: 22px;
}


/*_____________ Content */
.col-8 , .col-6 {
    margin: 0 auto;
    padding: 0;
}

/*____________Col -8 : Dash Result*/
#dash-result {    
    background-color: #343a40;
    border-radius: 5px;    
    display: block;
    font-size: 16px;
    width: 100%;
}

    #dash-result ul {             
        display: flex;   
        justify-content: center;         
        list-style: none;
        padding: 0;
    }
    #dash-result ul li {    
        font-family: 'Roboto', sans-serif;
        color: #ffffff;     
        padding-right: 20px;
        margin: 10px 10px;
        border-right: 1px solid #1b1b1b;
    }

    #dash-result ul > li:last-child {         
        border: 0;
        padding-right: 0;
    }

    #dash-result ul li > span { 
        color: #ff5722;
        text-transform: lowercase;
    }

    /*________ Col - 6  Content */
    p { width: 100%; margin-top: 20px; }

    h2 { 
        color: #ff5722; 
        font-family: 'Roboto', sans-serif;
        font-size: 60px; 
        margin-bottom: 10px;
        text-transform: uppercase; 
        transition: all 0.4s ease;
    }

    input { 
        color: #000000;     
        text-align: left;
    }


    #alert-times-over  {
        display: inline-block;
        font-size: 12px;
        margin-top: 10px;
        width: 100%;
        visibility: hidden;        
    }

        #alert-times-over  span {
            color: red;             
            transition: all 0.4 ease;
        }

        #speed-result {            
            color: white;
            border-radius: 5px;
            background-color: #28a745;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;    
            margin: auto;         
            margin-bottom: 10px;                                 
            padding: 5px 10px;
            width: 20%;
            transition: all 0.2 ease;
        }

    .custom-select {
        border: 0;
        background: #343a40 !important;
        color: white;
        border-radius: 0;
        text-align: center;
    }

    .btn {
        border:0;
        border-radius: 0;
        font-family: 'Roboto', sans-serif;        
    }        

/*_________________ Footer */

footer {
    font-size: 14px;
    font-weight: bold;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#272b2f !important;
 }
    footer p { margin-top: 6px; }
    footer span {
        color: tomato;
    }



/*________________________ Media Query */
@media only screen and (max-width: 992px) {

    .col-6 h2 { 
        font-size: 35px; 
    }

    .navbar-brand , footer , .btn , .custom-select , p { 
        font-weight: 100; 
        font-size: 14px; 
    }

    #dash-result { 
        background-color: inherit; 
    }
        #dash-result ul {            
            padding: 0;
            margin: 0;
            font-size: 12px;        
        }    

        #dash-result ul li { 
            border: 0; 
        }

}

